/person-angular/node_modules
/person-angular/reports
/person-rest/target
/person-rest/.project
/person-rest/.classpath
/person-rest/.settings
/SpringDataMongoDB/.classpath
/SpringDataMongoDB/.project
/SpringDataMongoDB/target
/SpringDataMongoDB/.settings
/WorldCountries/.settings
/WorldCountries/.classpath
*.project
/SpringFileUpload/.settings
/SpringFileUpload/*.classpath
