
/*-------------------------------- general
*/
body {
  color:         #222;
  font-family:   sans-serif; 
  padding:       40px;
}

img {
  border-style: none;
}
   
a {
  color:            DarkSlateGray;
  text-decoration:  none;
}

a:hover {
  color:            OrangeRed;
  text-decoration:  none;
}

h1, 
h1 a,
h1 a:hover {
  font-size:    20px;
  font-weight:  normal;
  color:        SeaGreen;
}

button {
   background:      WhiteSmoke;
   border:          1px solid #CCC;
   padding:         5px 8px;
   cursor:          pointer;
   letter-spacing:  0.1em;
}

button:hover {
  color:        OrangeRed;
  background:   #EEE;
}

/*--------------------------------  tables
*/

table.silver {
  background:       WhiteSmoke;
  border-collapse:  collapse;
  margin:           2px 0 10px 0;
}

table.silver th, 
table.silver td {
  border:     1px Silver solid;
  padding:    5px;
  text-align: left;
}

table.silver th {
  color:      DarkSlateGray;
  background: Gainsboro;
}

.list {
  width:  200px;
}

.list th:first-child {
  width:  20px;
}

.details,
.editor {
    width:  360px;
}

/*-------------------------------- info message
*/

.message {
    background-color: #F3F9F4;
    padding: 5px 10px;
    border: 1px solid #8AC496;
}

.shadow {
    -moz-box-shadow:    5px 5px 10px #B4B4B4;
    -webkit-box-shadow: 5px 5px 10px #B4B4B4;
    box-shadow:         5px 5px 10px #B4B4B4;
}

/*--------------------------------  error
*/

.error {
    color: Red;
}