<span class='string'>'use strict'</span>;

describe(<span class='string'>'Olympics controllers'</span>, <span
								class='keyword'>function</span>() {
  
  <span class='keyword'>var</span> ROWING = {<span class='string'>"id"</span>:16,<span
								class='string'>"name"</span>:<span class='string'>"Rowing"</span>};
  <span class='keyword'>var</span> SAILING = {<span class='string'>"id"</span>:17,<span
								class='string'>"name"</span>:<span class='string'>"Sailing"</span>};
  <span class='keyword'>var</span> ALL_SPORTS = [ROWING, SAILING];

  beforeEach(module(<span class='string'>'app'</span>));

  describe(<span class='string'>'In the SportList controller'</span>, <span
								class='keyword'>function</span>(){
    <span class='keyword'>var</span> ctrl, scope, $httpBackend;

    beforeEach(inject(<span class='keyword'>function</span>(_$httpBackend_, $rootScope, $controller) {
      $httpBackend = _$httpBackend_;

      scope = $rootScope.$<span class='keyword'>new</span>();
      ctrl = $controller(<span class='string'>'SportList'</span>, {$scope: scope});
    }));
    
    afterEach(<span class='keyword'>function</span> () {
      $httpBackend.verifyNoOutstandingExpectation();
      $httpBackend.verifyNoOutstandingRequest();
    });

    describe(<span class='string'>'the getAllSports method'</span>, <span
								class='keyword'>function</span>(){
      
      beforeEach(<span class='keyword'>function</span>() {
        $httpBackend.expectGET(<span class='string'>'/api/v1/sports'</span>)
                    .respond(ALL_SPORTS);
        scope.getAllSports();
        $httpBackend.flush();
      });
      
      it(<span class='string'>'should return the correct number of sport names'</span>, <span
								class='keyword'>function</span>() {
        expect(scope.sports.length).toEqual(2);
      });
  
      it(<span class='string'>'should return the correct sport names'</span>, <span
								class='keyword'>function</span>() {
        expect(scope.sports).toEqual(ALL_SPORTS);
      });
    });

    describe(<span class='string'>'the getSport method'</span>, <span
								class='keyword'>function</span>(){
      beforeEach(<span class='keyword'>function</span>() {
        $httpBackend.expectGET(<span class='string'>'/api/v1/sports/'</span> + ROWING.id)
                    .respond(ROWING);
      });
      
      it(<span class='string'>'should return the correct sport for the id when no other sport has been selected'</span>, <span
								class='keyword'>function</span>() {
        scope.getSport(ROWING.id);
        expect(scope.chosenSport).toBeUndefined();
        $httpBackend.flush();
        expect(scope.chosenSport).toEqual(ROWING);
      });

      it(<span class='string'>'should return the correct sport for the id overwriting the existing selection'</span>, <span
								class='keyword'>function</span>() {
        scope.getSport(ROWING.id);
        $httpBackend.flush();
        expect(scope.chosenSport).toEqual(ROWING);

        $httpBackend.expectGET(<span class='string'>'/api/v1/sports/'</span> + SAILING.id)
                    .respond(SAILING);
        
        scope.getSport(SAILING.id);
        $httpBackend.flush();
        expect(scope.chosenSport).toEqual(SAILING);
      });
    });
    
  });

});