
<div id="outer-container">
	<header class="wrapper clearfix">
		<div ng-include="'/app/partials/header.html'"></div>
		<div class="breadcrumb">
			<span id="guide-breadcrumb"></span> <span class="tip">Tip: click on underlined words in the guide to highlight source code</span>
		</div>
	</header>
	<div id="container">
		<br /> <br />
		<div class="lesson-details markdown">
			<div class="md">
				<h1>This are some sample projects</h1>
				<p>We will see how a simple Spring MVC application receives a request, reads a value from a properties file, and outputs a
					message on a web page.</p>
				<hr />
				<div ng-repeat="project in projecten | filter: search | orderBy: 'id'">
					<h4>
						<a href="#/main/{{project.id}}">{{project.name}}</a>
					</h4>
					<p>{{project.description}}</p>
					<hr />
				</div>
			</div>
		</div>
	</div>
</div>