    <div id="guide-viewer" class="early-access">

      <div id="guide-header">
        <div class="title drag-handle" id="guide-name">AngularJS Unit Tests with Jasmine</div>
        
        <div id="guide-desc">Shows how to unit test an AngularJS controller with Jasmine&#39;s SpecRunner. Uses $httpBackend as a fake HTTP backend implementation.</div>
      </div>
  
      <div id="guide-body">
      
        <div class="title drag-handle" id="card-title">Introducing the Guide</div>
      
        <div id="card-body">
          <div>
            <div id="card-text"><p><span style="padding-left:15px; font-size: 20px; color: green;">Look Over Here!</span>
<br  />This is your guide.</p>
<p>Click on any underlined text to highlight the code.
<br  />Eg. We <span class='hl'>inject the dependencies<span class='hl-target'>inject(function(_$httpBackend_, $rootScope, $controller)</span></span> for our <span class='hl'>controller<span class='hl-target'>$controller('SportList', {$scope: scope});</span></span>.</p>
<p>Feel free to use the explorer on the left, then just click the green dot to show the correct file for the guide.</p>
<p>Use the dots and arrows below to move around the guide and see an explanation of the code.</p>
<div class="central">
<a href="/project/2449#card/5547/file/38003" class="start-lesson btn">Let's Get Started</a>
</div>
</div>
          </div>
        </div>
        
        <div class="central" id="guide-footer">
  
    
      
    <nav id="guide-nav">
      <span class="nav-arrow disabled">
        
        <span class="arrow previous"> </span>
      </span>                 

      <span class="nav-dots">  
        <a class="nav-dot current" href="/project/2449?file=38082&amp;card=5567" title="Introducing the Guide"> </a>  
        <a class="nav-dot" href="/project/2449?file=38082&amp;card=5547" title="The Jasmine Spec File"> </a>  
        <a class="nav-dot" href="/project/2449?file=38082&amp;card=5568" title="AngularJS Test Framework"> </a>  
        <a class="nav-dot" href="/project/2449?file=38082&amp;card=5548" title="Creating the Controller"> </a>  
        <a class="nav-dot" href="/project/2449?file=38082&amp;card=5549" title="$httpBackend"> </a>  
        <a class="nav-dot" href="/project/2449?file=38083&amp;card=5550" title="The Jasmine Spec Runner"> </a>
      </span>
      
      <span class="nav-arrow enabled">
          <a class="arrow next" href="/project/2449?file=38082&amp;card=5547"> </a>
                   
      </span>

    </nav>     
    
  </div>
      
      </div>
      
      <span class="hidden" id="guide-breadcrumb"><a class='home' href='/'>Home</a><span class='separator'>|</span><a class='course' href='/tutorials/3160/introducing-angularjs/contents'>Introducing AngularJS</a><span class='separator'>|</span><a class='lesson' href='/tutorials/3160/introducing-angularjs/unit-testing-with-jasmine'>Unit Testing with Jasmine</a><span class='separator'>|</span><span class='guide'>AngularJS Unit Tests with Jasmine</span></span>
      
      <span class="hidden" id="width">330</span>
      <span class="hidden" id="height">300</span>
      
    </div>
    
    

    <img class="resize-handle" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FGQ03K7Pm+BMAAABRSURBVCjPY2AgETASq1BFSUWCgYHhOSMpihkYGCQZSVF8596dF4ykKMbrB3TFeP2ASzFWP+BTjOEHQopR/EBIMYofiFXMwMAgyQS1AMVafHwATzxSSCOdIGgAAAAASUVORK5CYII=" />
