  <header class="wrapper clearfix">
  
    <div class="header-item">
    
      <a href="/" id="logo">lishman</a>
      
      
      <span id="sign-in-out">
        <span>
          
          <span>
            <a href="/sign-in" id="sign-in">sign in</a>
          </span>
        </span> 
      </span>
    </div> 
    
    <div class="header-item">
      <div id="product-header">
        <a href="/" id="product-name">source</a>
        
        <span class="external-links">  
          <a href="mailto:mark@lishman.com?Subject=lishman source" id="contact" target="_blank">Email</a>   
          &nbsp;|&nbsp;&nbsp;<a href="https://uk.linkedin.com/in/marklishman">
            <img src="/app/images/linkedin-icon.png" />LinkedIn
          </a>
         
      </div>
    </div> 
      
  </header>
