<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID"
         version="3.1">

    <display-name>World Countries</display-name>

	<session-config>
	   <session-timeout>30</session-timeout>
	</session-config>

	<error-page> 
	   <location>/static/error.html</location> 
	</error-page>

</web-app>

